.container {
  padding: 2.5rem 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-cyan);
  font-family: var(--font-orbitron);
  border-radius: 0.375rem;
  text-transform: uppercase;
  text-align: center;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, transparent, rgba(0,0,0,0.5));
}

.bannerImg {
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.absoluteOverlay {
  position: absolute;
  display: flex;
}

.contentFlex {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.textContentBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  color: var(--text-white);
  font-family: var(--font-montserrat);
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  padding-top: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.logoBox {
  border: 1px solid #e5e7eb; /* gray-200 */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.75rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.logoText {
  color: var(--text-white);
  text-align: center;
}

.logoImg {
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 10rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem; /* 5xl equivalent */
  }
  .bannerImg {
    height: 770px;
  }
  .textContentBox {
    width: 50%;
  }
  .description {
    font-size: 1.5rem;
    padding-top: 1.25rem;
  }
  .logoImg {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .contentFlex {
    flex-direction: row;
  }
}
