.featuresSection {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  background-color: var(--bg-primary);
}

.mainContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.flexCenter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerImg {
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.absoluteContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  width: fit-content;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-yellow);
  font-family: var(--font-orbitron);
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.375rem;
  padding: 0.25rem;
}

.description {
  color: var(--text-white);
  font-family: var(--font-montserrat);
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.actionBtn {
  border: 1px solid var(--text-white);
  color: var(--text-white);
  font-weight: 300;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
  font-size: 0.875em;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.actionBtn:hover {
  background: linear-gradient(to bottom left, #1e40af, #581c87); /* blue-800 to purple-900 */
}

.icon {
  margin-left: 0.5rem;
  border: 1px solid #9ca3af; /* gray-400 */
  border-radius: 9999px;
  padding: 0.25rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
    padding-top: 1.25rem;
  }
  .actionBtn {
    font-weight: 700;
  }
}
